*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
.container{
	width: 80vw;
	margin: 0 auto;
	overflow-x: hidden;
}
/*===========
		The top
  ===========*/
.top{
	background:black;
	width: 100%;
	height: 70px;
	padding: 0;
	margin: 0;
}

.giohang{
	/*float: right;*/
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	color: white;
	padding-top: 7px;
	text-align: center;
}
.giohang img{
	margin-right:1em;
}
.giohang p{
	padding: 0;
	margin: 0;
}
.giohang a:link, .giohang a:visited{
	color: white;
}

/*===========
		The logo
	===========*/
	
.logo a:link, .logo a:visited{
	color: black;
	text-align: center;
	text-decoration: none;
}
.logo{
	border-bottom: solid 1px #9c9191;
}

/*===========
		The menu
	===========*/

	.menu{
		display:flex;
		height:70px;
		justify-content: space-between;
		align-items: center;
	}
	.burger{
		cursor: pointer;
		display:none; /*Responsive*/
	}
	.line1, .line2, .line3{
		width:25px;
		height:5px;
		margin-bottom:3px;
		background-color: black;
		border-radius: 2px;
	}
 .noiDungMenu ul{
	/* float: left; */
	display: flex; /*Dan ngang cac <li>*/
	justify-content: space-between;
	width:40vw; /*Muon su dung justify-content can thiet lap width*/
	margin:0;
	padding:0;
	list-style: none;
}
.noiDungMenu a{
	font-size: 1.25rem;
	text-decoration: none;
	color:#000;
	padding:15px;
}
.noiDungMenu a:hover{
	background-color: rgba(000, 000, 000, 0.1);
}

.timKiem form{
	margin:0;
	display:flex;
	position: relative;
}
#textSearch{
	width:250px;
	padding:7px 5px;
}
.btn-search{
	background: url(../images/kinh_lup.png) no-repeat;
	padding: 15px;
	border: 0;
	cursor: pointer;
	position: absolute; /*relative voi form*/
    right: 1px;
    top: 1px;
}

/*===========
		The banner
	===========*/
.banner img{
	width: 100%;
	min-height:400px;
}

/*===========
		The about/san pham noi bat
	===========*/

.about{
	padding-top: 50px;
	display:flex;
	justify-content:center;
	flex-wrap: wrap;
}
.spnoibat{
	flex-basis:30%;
	padding:20px;
}
.spnoibat img{
	width:18em;
}

/*===========
		The product
	===========*/
.product{
	padding-top: 50px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.oneproduct{
	flex-basis:20%;
	border: solid 1px #4c4747;
	text-align: center;
	padding: 20px;
	margin:0 0 50px 20px;
}
.thongtinProduct{
	margin-top:1rem;
}
.thongtinProduct .nameSanpham{
	font-weight:bold;
}
.thongtinProduct a{ /*.xemthu*/
	color:#000;
	text-decoration: none;
}

/*===========
		The thongtin
	===========*/
.contact{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}
.onethongtin{
	display:flex;
	flex-direction: column;
	flex-basis:20%;
	padding:10px;
}
.onethongtin ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.onethongtin li{
	margin-bottom: 0.625rem;
}
.onethongtin a:link, .onethongtin a:visited{
	text-decoration: none;
	color: black;
}
.social{
	display:flex;
	align-items:center;
	justify-content: flex-start;
}
.social-img{
	margin-right:.75rem;
	width: 30px;
	height: 30px;
}
#facebook{
	background: url(../images/S.jpg);
	background-position: 0px 0px;
}
#twichter{
	background: url(../images/S.jpg);
	background-position: -30px 0px;
}
#youtube{
	background: url(../images/S.jpg);
	background-position: -60px 0px;
}
.txtsocial{
	text-transform: capitalize;
	font-weight:500;
	font-size:1.2rem;
}
.ndINFO{
	margin-bottom: 10px;
}
/*===========
		The footer
	===========*/

.footer{
	padding: 20px;
	border-top:1px solid #aaa;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
}
.ndFooter{
	display:flex;
	flex-basis:50%;
}
.ndFooter form{
	margin:0;
}
.inp{
	padding: 7px;
	border: solid 1px black;
}
#txtInp{
	width: 300px;
}
#btnSub{
	cursor: pointer;
	background-color: red;
	color: white;
	font-weight: 1.8rem;
}