body{
	margin: 0;
}
.top{
	background:black;
	width: 100%;
	height: 70px;
	padding: 0;
	margin: 0;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.giohang{
	float: right;
	color: white;
	padding-top: 7px;
	text-align: center;
}
.giohang p{
	padding: 0;
	margin: 5px;
}
.giohang a:link, .giohang a:visited{
	color: white;
}
.logo a:link, .logo a:visited{
	color: black;
	text-align: center;
	text-decoration: none;
	
}
.logo{
	border-bottom: solid 1px #9c9191;
}
.noiDungMenu{
	float: left;
	width: 70%;
	height: 70px; 
}
.timKiem{
	float: left;
	width: 30%;
	height: 70px; 
	position: relative;
}
.noiDungMenu ul li{
	float: left;
	padding-right: 40px;
	list-style-type: none;
}
.noiDungMenu a:link, .noidung a:visited{
	color: black;
	font-size: 21px;
	text-decoration: none;
}
.noiDungMenu a:hover{
	color: green;
}
#btnSearch{
	background: url(../images/kinh_lup.png) no-repeat;
	display: inline-block;
    padding: 12px;
    padding-bottom: inherit;
    border: 0;
    cursor: pointer;
	position: absolute;
    right: 2%;
    top: 17px;
}
#textSearch{
	padding: 7px;
}
.menu{
	padding: 15px;
}
#containSearch{
	float: right;
	padding-top: 14px;
}
.banner img{
	width: 100%;
}
.spnoibat{
	float: left;
	padding-right: 21px;
	margin: 41px;
}
.about{
	padding-top: 50px;
	height: 200px;
}
.product{
	padding-top: 50px;
}
.oneproduct{
	border: solid 1px #4c4747;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
	margin-bottom: 50px;
}
.onethongtin{
	float: left;
	width: 25%;
	height: auto;
	text-align: left;	
}
.onethongtin ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.onethongtin ul li a:link, .onethongtin ul li a:visited{
	text-decoration: none;
	color: black;
}
span.social{
	display: inline-block;
	width: 30px;
	height: 30px;
}
#facebook{
	background: url(../images/S.jpg);
	background-position: 0px 0px;
}
#twichter{
	background: url(../images/S.jpg);
	background-position: -30px 0px;
}
#youtube{
	background: url(../images/S.jpg);
	background-position: -60px 0px;
}
.txtsocial{
	display: inline-block;
    vertical-align: middle;
    margin-top: -22px;
    padding-left: 10px;
}
.ndINFO{
	margin-bottom: 10px;
}
.phanvung{
	width: 100%;
}
.ndFooter{
	float: left;
	width: 50%;
}
.footer{
	padding: 20px;
}
.inp{
	padding: 7px;
	border: solid 1px black;
}
#txtInp{
	width: 300px;
}
#btnSub{
	cursor: pointer;
	background-color: red;
	color: white;
	font-weight: 30px;
}